@charset "utf-8";
/* CSS Document */
@font-face {
}
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
body {
	min-width: 960px;
	height: 1000px;
	background: url(site/bodybg.png);
}
.shrinker {
	margin: 0 auto;
	width: 960px;
}
#header {
	height: 100px;
	line-height: 100px;
	padding: 10px 0;
}
#header img {
	margin-left: 10px;
}
#header ul {
	height: 10px;
	float: right;
}
#header li {
	float: left;
	width: 90px;
	/*outline: dotted #D47F55 1px;*/
	text-align: center;
	position: relative;
}
#header li a {
	width: 100%;
	display: inline-block;
	text-decoration: none;
	color: #777;
	font-family: "楷体", Geneva, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
#header li:hover a::after {
	content: "";
	display: block;
	width: 100%;
	height: 6px;
	background: #27ABC4;
	position: absolute;
	top: 30px;
}
#header .shrinker span {
	font-size: 40px;
	font: "Aharoni", Helvetica, sans-serif;
}
#header .shrinker span+span {
	color: #20AAC6;
}
#gallery {
	background: #3F4B59;
}
#gallery .shrinker {
	padding-top: 20px;
}
.stripe {
	background: url(site/stripe.png);
	height: 7px;
	width: 100%;
	clear: both;
}
#scrollphoto {
	background: #DF5936;
	height: 400px;
	overflow: hidden;
	width: 100%;
	border-radius: 15px;
}
#picswitcher {
	margin: 0 auto;
	width: 110px;
	overflow: hidden;
}
#picswitcher li {
	list-style: none;
	float: left;
	line-height: 40px;
	padding: 0 5px;
}
#picswitcher a {
	display: inline-block;
	width: 0;
	height: 0;
	border: solid #aaa 6px;
	border-radius: 6px;
}
#picswitcher a:hover {
	border-color: white;
}
#content {
	overflow: hidden;
}
#content img {
	vertical-align: middle;
}
#leftpad {
	width: 640px;
	float: left;
}
.pad {
	margin: 20px 0;
	/*border: #aaa solid 1px;*/
	border-radius: 7px;
	padding: 10px;
	color: #777;
	background: rgba(200, 200,200, 0.2) none repeat scroll 0 0;
}
.pad h3 {
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom : solid 1px #bbb;
}
.pad h3 label.topicn {
	margin: 0 10px;
	color: #555;
}
h3 img {
	vertical-align: middle;
}
label.topicen {
	color: #A0A0A4;
	font-family: Vijaya, Geneva, sans-serif;
	font-size: 24px;
	font-weight: lighter;
	font-style: italic;
}
.pad p {
	text-indent: 30px;
	line-height: 26px;
}
#onduty ul {
	overflow: hidden;
	margin-top: 10px;
}
#onduty li {
	float: left;
	margin: 10px;
	padding: 5px;
	width: 200px;
	text-align: center;/*	background: #ddd;*/
}
/*#onduty li+li {
	border-left: #A0A0A4 solid 1px;
}*/
#onduty li img {
	display: block;
	float: left;
	height: 100px;
	width: 100px;
	border-radius: 60px;
	border: solid 3px #ddd;
}
#onduty div {
	text-indent: 0;
	vertical-align: top;
	line-height: 30px;
	color: #2076B8;
	font-size: 16px;
	font-weight: 100;
	height: 60px;
	margin: 23px 0;
	text-align: left;
	font-weight: bold;
}
#onduty p+p {
	color: #555;
	font-size: 12px;
	font-weight: 100;
}
#disease li {
	line-height: 32px;
	list-style-image: url(site/20141028115829370_easyicon_net_17.7777777778.png);
	margin: 0 10px;
	list-style-position: inside;
}
#disease li:hover {
	cursor: pointer;
	color: #EA7E13;
}
#disease li+li {
	border-top: dotted 1px #ccc;
}
#rightpad {
	float: left;
	width: 320px;
	margin-top: 20px;
}
#news {
	background: none;
	margin: 0 0 0 20px;
	border-radius: 0;
	padding: 0;
}
#newsh {
	background: #404040;
	line-height: 56px;
	height: 56px;
	font-family: "楷体", Geneva, sans-serif;
	padding: 0 0 0 10px;
	margin: 0;
	border: none;
}
#newsh label.topicn {
	color: #BF6427;
	font: "楷体", Geneva, sans-serif;
}
#news li {
	line-height: 42px;
	padding-left: 10px;
	background: #ddd;
}
#news li a {
	display: block;
	width: 100%;
	color: #999;
	text-decoration: none;
}
#news li:hover {
	background: #cecece;
}
#news li:hover::before {
	content: "";
	height: 42px;
	width: 10px;
	background: #71A866;
	float: left;
	position: relative;
	left: -10px;
}
#news li+li {
	border-top: solid 1px #ccc;
}
#footer {
	background: url(site/dark.png);
	overflow: hidden;
	color: #999;
	padding: 20px 0;
	line-height: 24px;
	font-size: 12px;
}
#contactus {
	width: 319px;
	float: left;
	border-right: solid #6F675F 1px;
}
#copyright {
	text-align: center;
	width: 640px;
	float: left;
	padding-top: 30px;
}
#contactus h3 {
	color: #DDD;
}
.clearer {
	height: 0;
	visibility: hidden;
	clear: both;
}
#signature {
	text-align: center;
	clear: both;
	margin: 20px auto 0;
}
#signature span {
	color: #F1A650;
	font-weight: bold;
}
